<style>
h1 {text-align: center;}
p {text-align: left;}
div {text-align: center;}
</style>
<h1>New Entry</h1>

<br>

<%= form_with(model: @entry) do |form| %>
  <div>
      <%= form.label :name, 'Name:', :html => {:class => 'text-left'} %>
      <div>
        <%= form.text_field :name, :size => 25 %>
      </div>
    </div>
  <div>
      <%= form.label :name, 'Link:' %>
      <div>
        <%= form.text_field :link, :size => 25 %>
      </div>
  </div>

  <br>
  <div>
    <%= form.submit %>
  </div>

  <% end %>

<br>
<div>
  <%= link_to "Back to home", root_path, {class:"btn btn-outline-primary"} %>
</div>